@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define initial styles */
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #caabab;
}

.open {
  width: 30%;
  animation: slideInFromRight 0.5s forwards;
}

@media (max-width: 768px) {
  .open {
    width: 50%;
  }
}

/* Define the animation */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
